<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="hr">
  <link
    name="base">
    <inertial>
      <origin
        xyz="-0.026750 -0.000690 0.062340"
        rpy="0 0 0" />
      <mass
        value="7.4" />
      <inertia
        ixx="0.118496"
        ixy="0.000133"
        ixz="-0.000481"
        iyy="0.059125"
        iyz="0.000470"
        izz="0.130201" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/base.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0.125"
        rpy="0 0 0" />
          <geometry>
              <box size="0.2 0.38 0.21"/>
          </geometry>
    </collision>
  </link>
  <link
    name="L_hip">
    <inertial>
      <origin
        xyz="-0.086776 0.0 -0.070553"
        rpy="0 0 0" />
      <mass
        value="1.5262" />
      <inertia
        ixx="0.004080"
        ixy="0.0"
        ixz="-0.000987"
        iyy="0.003954"
        iyz="0.0"
        izz="0.002761" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/L_hip.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <!-- <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/L_hip.STL" />
      </geometry>
    </collision> -->
  </link>
  <joint
    name="L_hip_joint"
    type="revolute">
    <origin
      xyz="-0.0053471 0.1175 -0.0067"
      rpy="0 0 0" />
    <parent
      link="base" />
    <child
      link="L_hip" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.5"
      upper="1.5"
      effort="125"
      velocity="50" />
  </joint>
  <link
    name="L_hip2">
    <inertial>
      <origin
        xyz="0.076889 -0.034855 -0.014787"
        rpy="0 0 0" />
      <mass
        value="1.726000" />
      <inertia
        ixx="0.006963"
        ixy="0.000389"
        ixz="0.000363"
        iyy="0.004861"
        iyz="-0.000232"
        izz="0.007308" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/L_hip2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <!-- <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/L_hip2.STL" />
      </geometry>
    </collision> -->
  </link>
  <joint
    name="L_hip2_joint"
    type="revolute">
    <origin
      xyz="-0.0763 0 -0.084"
      rpy="0 0 0" />
    <parent
      link="L_hip" />
    <child
      link="L_hip2" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-0.26"
      upper="0.65"
      effort="125"
      velocity="50" />
  </joint>
  <link
    name="L_thigh">
    <inertial>
      <origin
        xyz="0.000014 0.025209 -0.126499"
        rpy="0 0 0" />
      <mass
        value="4.750102" />
      <inertia
        ixx="0.107593"
        ixy="0.000001"
        ixz="0.000009"
        iyy="0.107651"
        iyz="-0.006073"
        izz="0.008614" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/L_thigh.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0.0141 -0.175"
        rpy="0 0 0" />
      <geometry>                                  
          <cylinder radius="0.04" length="0.30"/>
      </geometry>
    </collision>
  </link>
  <joint
    name="L_thigh_joint"
    type="revolute">
    <origin
      xyz="0.078 -0.014084 -0.0185"
      rpy="0 -0.78539816339 0" />
    <parent
      link="L_hip2" />
    <child
      link="L_thigh" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-1.25"
      upper="1.1"
      effort="125"
      velocity="50" />
  </joint>
  <link
    name="L_calf">
    <inertial>
      <origin
        xyz="-0.000226 0.016658 -0.148439"
        rpy="0 0 0" />
      <mass
        value="1.326656" />
      <inertia
        ixx="0.016199"
        ixy="0.000009"
        ixz="0.000014"
        iyy="0.016302"
        iyz="0.000005"
        izz="0.000772" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/L_calf.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0.0141 -0.175"
        rpy="0 0 0" />
      <geometry>                                  
          <cylinder radius="0.04" length="0.27"/>
      </geometry>
    </collision>
  </link>
  <joint
    name="L_calf_joint"
    type="revolute">
    <origin
      xyz="0 0 -0.35"
      rpy="0 1.571 0" />
    <parent
      link="L_thigh" />
    <child
      link="L_calf" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-1.571"
      upper="0.529"
      effort="105"
      velocity="50" />
  </joint>
  <link
    name="L_toe">
    <inertial>
      <origin
        xyz="0.002701 0.015076 -0.032168"
        rpy="0 0 0" />
      <mass
        value="0.520" />
      <inertia
        ixx="0.000162"
        ixy="0.000016"
        ixz="0.000083"
        iyy="0.001485"
        iyz="0.000003"
        izz="0.001511" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/L_toe.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/L_toe.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="L_toe_joint"
    type="revolute">
    <origin
      xyz="0 0 -0.35"
      rpy="0 -0.78539815339 0" />
    <parent
      link="L_calf" />
    <child
      link="L_toe" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-0.3"
      upper="1.6"
      effort="30"
      velocity="50" />
  </joint>
  <link name="L_end_effector">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.0001" />
      </geometry>
      <material name=""> 
        <color rgba="0 0 0 0" />
      </material>
    </visual>
  </link>
  <joint name="L_end_joint"
    type="fixed">
    <origin
      xyz="0 0 -0.049"
      rpy="0 0 0" />
    <parent
      link="L_toe" />
    <child
      link="L_end_effector" />
    <axis
      xyz="0 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="R_hip">
    <inertial>
      <origin
        xyz="-0.086776 0.0 -0.070553"
        rpy="0 0 0" />
      <mass
        value="1.5262" />
      <inertia
        ixx="0.004080"
        ixy="0.0"
        ixz="-0.000987"
        iyy="0.003954"
        iyz="0.0"
        izz="0.002761" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/R_hip.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <!-- <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/R_hip.STL" />
      </geometry>
    </collision> -->
  </link>
  <joint
    name="R_hip_joint"
    type="revolute">
    <origin
      xyz="-0.0053471 -0.1175 -0.0067"
      rpy="0 0 0" />
    <parent
      link="base" />
    <child
      link="R_hip" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.5"
      upper="1.5"
      effort="125"
      velocity="50" />
  </joint>
  <link
    name="R_hip2">
    <inertial>
      <origin
        xyz="0.076889 0.034855 -0.014787"
        rpy="0 0 0" />
      <mass
        value="1.726000" />
      <inertia
        ixx="0.006963"
        ixy="-0.00039"
        ixz="0.000363"
        iyy="0.004861"
        iyz="0.000232"
        izz="0.007308" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/R_hip2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <!-- <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/R_hip2.STL" />
      </geometry>
    </collision> -->
  </link>
  <joint
    name="R_hip2_joint"
    type="revolute">
    <origin
      xyz="-0.0763 0 -0.084"
      rpy="0 0 0" />
    <parent
      link="R_hip" />
    <child
      link="R_hip2" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-0.65"
      upper="0.26"
      effort="125"
      velocity="50" />
  </joint>
  <link
    name="R_thigh">
    <inertial>
      <origin
        xyz="-0.000014 -0.025209 -0.126499"
        rpy="0 0 0" />
      <mass
        value="4.750102" />
      <inertia
        ixx="0.107593"
        ixy="0.000001"
        ixz="-0.000009"
        iyy="0.107651"
        iyz="0.006073"
        izz="0.008614" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/R_thigh.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 -0.0141 -0.175"
        rpy="0 0 0" />
      <geometry>                                  
          <cylinder radius="0.04" length="0.30"/>
      </geometry>
    </collision>
  </link>
  <joint
    name="R_thigh_joint"
    type="revolute">
    <origin
      xyz="0.078 0.014084 -0.0185"
      rpy="0 -0.78539816339 0" />
    <parent
      link="R_hip2" />
    <child
      link="R_thigh" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-1.25"
      upper="1.1"
      effort="125"
      velocity="50" />
  </joint>
  <link
    name="R_calf">
    <inertial>
      <origin
        xyz="0.000226 -0.016658 -0.148439"
        rpy="0 0 0" />
      <mass
        value="1.326656" />
      <inertia
        ixx="0.016199"
        ixy="0.000009"
        ixz="-0.000014"
        iyy="0.016302"
        iyz="-0.000005"
        izz="0.000772" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/R_calf.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 -0.0141 -0.175"
        rpy="0 0 0" />
      <geometry>                                  
          <cylinder radius="0.04" length="0.30"/>
      </geometry>
    </collision>
  </link>
  <joint
    name="R_calf_joint"
    type="revolute">
    <origin
      xyz="0 0 -0.35"
      rpy="0 1.571 0" />
    <parent
      link="R_thigh" />
    <child
      link="R_calf" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-1.571"
      upper="0.529"
      effort="105"
      velocity="50" />
  </joint>
  <link
    name="R_toe">
    <inertial>
      <origin
        xyz="0.002387 -0.015128 -0.032168"
        rpy="0 0 0" />
      <mass
        value="0.520" />
      <inertia
        ixx="0.000162"
        ixy="0.000012"
        ixz="0.000083"
        iyy="0.001485"
        iyz="-0.000004"
        izz="0.001511" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/R_toe.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/R_toe.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="R_toe_joint"
    type="revolute">
    <origin
      xyz="0 0 -0.35"
      rpy="0 -0.78539815339 0" />
    <parent
      link="R_calf" />
    <child
      link="R_toe" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-0.3"
      upper="1.6"
      effort="30"
      velocity="50" />
  </joint>
  <link name="R_end_effector">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.0001" />
      </geometry>
      <material name=""> 
        <color rgba="0 0 0 0" />
      </material>
    </visual>
  </link>
  <joint name="R_end_joint"
    type="fixed">
    <origin
      xyz="0 0 -0.049"
      rpy="0 0 0" />
    <parent
      link="R_toe" />
    <child
      link="R_end_effector" />
    <axis
      xyz="0 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
</robot>
